<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   
</head>
<body>
    <div id="app">
        <!-- The double curly braces allow us tho write JavaScript Expression  -->
       <h1>{{product}}</h1>
       <p>Prova i prodottti di {{product}} : </p>
       <a :href="link">Compa il Pane di Campagna</a>
       <p v-if="inventory > 10">In Stock</p>
       <p v-else-if ="inventory <= 10 && inventory > 0">Gli Ultimi filoni rimasti!!</p>
       <p v-else>Out of stock</p>
      
       <!-- short hand for v-bind -->
       <img :src="image" alt="">

       <ul>
        <li v-for="ingredient in ingredients">{{ingredient}}</li>
       </ul>
    </div>

<!-- importing vue app-->
    <script src="main.js"></script>

    <!-- Mount app-->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>