 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#app{
    margin: 0 auto;
    width: 30%;
    padding: 10px;
}

img{
    width: 600px;
    display: block;
    margin: 0 auto;
} 

ul{
    list-style: none;
}
.color-circle{
    width: 50px;
    height: 50px;
    margin-top: 8px;
    border: solid 2px #d8d8d8;
    border-radius: 50%;
}
.disabledButton{
    background-color: #d8d8d8;
    cursor: not-allowed;
}